---
{
"title":"Impressum",
"template":"../templates/html-structure.hbs"
}
---
<div class="content">
    <h1>Impressum</h1>
    <dl>
        <dt>Einzelunternehmer: Vanalisa Thöm </dt>
        <dt>Firmensitz: Beispielallee 1, 12345 Ort, Land</dt>
        <dt>USt-ID: DE1298765</dt>
        <dt>Kontakt:</dt>
        <dd>E-Mail: <a href="mailto:info@vanalisa.thöm.de">info@vanalisa.thöm.de</a></dd>
        <dd>Telefon: <a href="tel:+4917612345678">0176 12345678</a></dd>
    </dl>
    <p>Angaben gemäß <a class="iLawLink" href="https://www.gesetze-im-internet.de/tmg/__5.html">Telemediengesetz (TMG)</a></p>
</div>