<!-- templates/footer.hbs -->
<footer>
    <div id="fFlex">
        <p>Emporium 2021 &#169;</p>
        <p><a href="/impressum" class="fLink">Impressum</a></p>
        <p class="fDateTime">Hamburg, den 03.05.2021 8:00:00</p>
    </div>
</footer>